
body {
	background-image: url('images/background.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
/*	height: 100vh;*/
	margin-top: 20rem;
}

.bg-color {
	border-bottom: 1px solid #dddddd;
	background-color: rgba(0, 0, 0, 0.5);
}

.navbar-nav {
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
}

.navbar-brand {
	text-transform: uppercase;
}

a img {
	width: 75px;
	height: 75px;
	border-radius: 50%;
}

.home-section {
	justify-content: center;
	color: #fff;
}

.home-content {
	width: 55%;
	text-align: center;
}

.home-content h1 {
	font-size: 70px;
}

.home-content p {
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
}

.btn-box {
	padding-top: 2.5rem;
}

.btn {
	width: 200px;
	padding: 15ppx 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid darkcyan;
	background: rgba(0, 0, 0, 0.4);
	color: #fff;
}

.btn:hover {
	background: darkcyan;
}

.footer-section {
	margin-top: 8rem;
	background-color: rgba(0, 0, 0, 0.3);
	height: 400px;
	color: #fff;
}

img {
	width: 140px;
	height: 130px;
	border-radius: 50%;
}

.footer-slug {
	padding: 5rem 1rem;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
}



