
body {
	background-color: #fafafa;
	margin-top: 4.5rem;
}

.bg-cyan {
	background-color: #5f788a;
}







/*
#e3f2fd
#e0f2f7 - blog post
#b3ebf2 - paste blue
#778899 - Light Slet Grey
#30bcd1 - footer
*/